:root {
	font-family: "Helvetica", sans-serif;
}

body {
	margin: 0px;
}

.root__body {
	display: grid;
	grid-template-columns: 1fr 3vw;
}

.root__sidebar {
	background: #80ff00;
	height: 100vh;
	display: flex;
	justify-content: center;
	border-left: solid 1px #000;
}

.root__header {
	position: absolute;
	display: grid;
	margin-top: 30px;
	grid-template-columns: 0.5fr 1fr;
	height: 90px;
	width: 97vw;
	border: 1px #000;
	border-style: solid none;
	align-items: center;
}
.header-item {
	align-self: center;
	text-align: center;
}

.main-body {
	height: 100vh;
	display: grid;
	grid-template-columns: 0.5fr 1fr;
}


